{% extends "base.html" %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/create room"> create room</a>
                    <a class="nav-item nav-link" href="/saved rooms"> saved rooms</a>
                    <a class="nav-item nav-link" href="/ready rooms"> ready rooms</a>
                    <a class="nav-item nav-link" href="/opened rooms"> opened rooms</a>
                    <a class="nav-item nav-link" href="/closed rooms"> closed rooms</a>
                </div>
          </div>
    </nav>
{% endblock %}